

.navbar-brand {
    font-family: 'Fjalla One', serif;
    font-size: 40px;
    text-align: center;
    /* position: absolute; */
    left: 50%;
    /* margin-left: -50px !important;  50% of your logo width */
    display: block;
    text-decoration: none;
    color: black;
} 

@media screen and (min-width: 768px) {
    .navbar {
        position: relative;
    }
    .navbar-brand {
        position: absolute;
        margin-left: -50px !important;
    }
  }