<div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">Full name</label>
      <p class="form-control-static">{{ details.first_name }} {{details.last_name}}</p>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Email</label>
      <p class="form-control-static">{{ details.email }}</p>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Gender</label>
        <p class="form-control-static">{{ details.gender }}</p>
    </div>

</div>