<div class="outer">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
          <div class="panel border bg-white">
            <div class="panel-heading">
              <h3 class="pt-3 font-weight-bold">Register</h3>
            </div>
            <div class="panel-body p-3">
              <form [formGroup]="registerForm">
                <div class="form-group pt-3">
                    <div class="input-field" [class.error]="registerForm.controls['first_name'].dirty && registerForm.hasError('required', 'first_name')">
                        <span class="fa fa-user p-2"></span>
                        <input type="text" formControlName="first_name" placeholder="First Name">
                    </div>
                </div>
                <small *ngIf="registerForm.controls['first_name'].dirty && registerForm.hasError('required', 'first_name')" class="text-danger">*Firstname is required </small>
                <div class="form-group pt-3">
                    <div class="input-field" [class.error]="registerForm.controls['last_name'].dirty && registerForm.hasError('required', 'last_name')">
                        <span class="fa fa-user p-2"></span>
                        <input type="text" formControlName="last_name" placeholder="Last Name">
                    </div>
                </div>
                <small *ngIf="registerForm.controls['last_name'].dirty && registerForm.hasError('required', 'last_name')" class="text-danger">*Lastname is required </small>
                <div class="form-group pt-3">
                    <div class="input-field" [class.error]="registerForm.controls['username'].dirty && registerForm.hasError('required', 'username')">
                        <span class="fa fa-user p-2"></span>
                        <input type="text" formControlName="username" placeholder="Username">
                    </div>
                </div>
                <small *ngIf="registerForm.controls['username'].dirty && registerForm.hasError('required', 'username')" class="text-danger">*Username is required </small>
                <div class="form-group pt-3">
                    <div class="input-field" [class.error]="registerForm.controls['email'].dirty && registerForm.hasError('required', 'email')">
                        <span class="fa fa-envelope p-2"></span>
                        <input type="text" formControlName="email" placeholder="Email">
                    </div>
                </div>
                <small *ngIf="registerForm.controls['email'].dirty && registerForm.hasError('required', 'email')" class="text-danger">*Email is required </small>
                <div class="form-group pt-3">
                    <div class="input-field" [class.error]="registerForm.controls['password'].dirty && registerForm.hasError('required', 'password')">
                        <span class="fa fa-lock p-2"></span>
                        <input [type]="type" formControlName="password" placeholder="Password">
                        <span class="fa {{eyeIcon}}" (click)="showPassword()"></span>
                    </div>
                </div>
                <small *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('required', 'password')" class="text-danger">*Password is required </small>
                <div class="form-group pt-3">
                    <div class="input-field" [class.error]="registerForm.controls['gender'].dirty && registerForm.hasError('required', 'gender')">
                        <span class="fa fa-user p-2"></span> 
                        <select formControlName="gender">
                            <option value="" selected disabled>Choose gender</option>
                            <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
                        </select>
                    </div>
                </div>
                <small *ngIf="registerForm.controls['gender'].dirty && registerForm.hasError('required', 'gender')" class="text-danger">*Gender is required </small>
                <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-blockmt-4 w-100">Register</button>
                <div class="text-center text-muted pt-4">Already have an account? <a id="forgot" routerLink="/login">Login</a></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>